{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">音频赏析</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">音频列表</h4>
                        </div>

                        <div style="margin-bottom: 20px">
                            <form method="get" >
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="输入关键词" name="keys" value="{{ keys }}" autocomplete="off" >
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="输入页码（1-30）" name="pages" value="{{ page }}" autocomplete="off" >
                                </div>
                                <button class="btn btn-info" type="submit">下载</button>
                            </form>
                        </div>
                        <div style="margin-bottom: 20px">
                            <form method="get" >
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="输入视频链接" name="link" value="{{ link }}" autocomplete="off" >
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="推荐个数(0-19)" name="num" value="{{ num }}" autocomplete="off" >
                                </div>
                                <button class="btn btn-info" type="submit">下载</button>
                            </form>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>说明</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table">
                                    {% for obj in results %}
                                        <tr>
                                            <td>{{ obj.id }}</td>
                                            <td>{{ obj.name }}</td>
                                            <td>
                                                <a href="/spider/audio/qi?src={{ obj.src }}&id={{ obj.id }}" class="btn btn-info">查看</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Main Wrapper -->


    </div>
    <!-- Row -->
    </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass('active-page');
            $('#spider_qiwen').addClass('active-page');
            $('#spider').addClass('active-page').addClass('open');
            $('#spider_ul').css('display', 'block');
            $('#spider_ul li').addClass('animation');

        })


    </script>
{% endblock %}