/* Write your custom CSS here */

/*错误提示*/
.formError
{
    color:red ;
}

/*待审核*/
.table_status_0
{
    border: 1px;
    color:azure;
    border-radius: 3px;
    display: block;
    font-weight:400;
    text-align: center;
    background-color: rgb(238, 194, 18);
    border-color: seashell;
}
/*已审核*/
.table_status_1
{
    border: 1px;
    color:azure;
    border-radius: 3px;
    display: block;
    font-weight:400;
    text-align: center;
    background-color: rgb(68, 107, 223);
    border-color: seashell;
}
/*已完成*/
.table_status_2
{
    border: 1px;
    color:azure;
    border-radius: 3px;
    display: block;
    font-weight:400;
    text-align: center;
    background-color: rgb(98, 229, 119);
    border-color: grey;
}

/*失败*/
.table_status_3
{
    border: 1px;
    color:azure;
    border-radius: 3px;
    display: block;
    font-weight:400;
    text-align: center;
    background-color: rgb(243, 100, 104);
    border-color: grey;
}

/**/
.my_hide_element
{
    display:none;
    visibility:none;
}


/* 单据流 */
.document_flow_full{
    width:100%;
    float: left;
    margin: 5px 0px;
}

.document_flow_half{
    width:50%;
    float: left;
    margin: 5px 0px;
}



.option{
    cursor: pointer;
}
/*顶部搜索栏样式*/
.option:hover{
    background: #FFFFFF;
    color: #0070e0;
}

.noinfo_holder{
    color: grey;
    text-align: center;
}

/* 消息提醒红点 */
.my-badge{
    display: inline;
    min-width: 8px;
    padding: 1px 5px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    vertical-align: super;
    white-space: nowrap;
    text-align: center;
    background-color: #e41212;
    border-radius: 10px;
}

.my-hiden{
    display: none;
    margin: 0px;
    padding: 0px;
}

.my-left{
    width:70%;
    display:inline-block;
    padding:0px 5px;
}


#doucumentProgressBar{   
    width: 90%;
    left: -5%;   
    height: 50px;   
    position: relative;   
    margin: 10px 0 0 100px;   
}   

#doucumentProgressBar>span{   
    position:absolute;   
    top:0;   
    margin-top: -13px;   
    vertical-align:middle;
    text-align: center;
    width: 40px;   
    height: 40px;   
    border:2px solid #ddd;   
    border-radius: 50%;   
    background: #ddd;   
    margin-left: -20px;   
    color:#fff;   
}

#doucumentProgressText{   
    width: 100%;   
    height: 50px;   
    position: relative;   
    margin-top: 10px;   
}   

#doucumentProgressText>span{   
    position: absolute;   
    top:0;      
    vertical-align:middle;
    text-align: center;
    width: 80px;      
    margin-left: -40px;   
    color:rgb(68, 48, 48);   
}

#doucumentProgressSubText{
    width: 100%;   
    height: 50px;   
    position: relative;   
    margin-top: 10px;   
}   

#doucumentProgressSubText>span{   
    position: absolute;   
    top:-75px;      
    vertical-align:middle;
    text-align: center;
    font-size: 6px;
    width: 80px;      
    margin-left: -40px;   
    color:rgb(68, 48, 48);   
}

.chat_status_0
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    word-wrap: break-word;
    box-sizing: border-box;
    text-decoration: revert;
    border: 1px;
    color: azure;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    border-color: grey;
    margin-left: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font: menu;
    background-color: rgb(238, 194, 18);
}
/*已完成*/
.chat_status_1
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    word-wrap: break-word;
    box-sizing: border-box;
    text-decoration: revert;
    border: 1px;
    color: azure;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    border-color: grey;
    margin-left: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font: menu;
    background-color: rgb(98, 229, 119);
}

/*失败*/
.chat_status_2
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    word-wrap: break-word;
    box-sizing: border-box;
    text-decoration: revert;
    border: 1px;
    color: azure;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    border-color: grey;
    margin-left: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font: menu;
    background-color: rgb(243, 100, 104);
}

.chat_link
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
    word-wrap: break-word;
    box-sizing: border-box;
    text-decoration: revert;
    font-family: Ubuntu,sans-serif;
    color: #2b2b2b;
    background-color: white;
    padding: 0px 5px;
    border-radius: 3px;
}

.form-line{
    float: left;
    margin-left: 2%;
}

.form-line-start{
    float: left;
    margin-left: 0%;
}


.btnadd{
    margin-top: 20px;
}

.my-detail-button{
    float: right;
    margin-right: 2%;
}