{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">权限管理</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">员工列表</h4>
                        </div>
                        <div>
                            {#                            提示框#}
                            <div class="modal fade" id="alertModel" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <span id="alertText"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <button type="button" class="btn btn-info" style="margin-bottom: 20px" id="btnAdd">添加
                            </button>

                            <a href="/excel/excel_download_account"><button type="button" class="btn btn-info" style="margin-bottom: 20px;float: right;margin-right: 1px" id="btnexceldown">模板下载
                            </button></a>

                            <a href="/account/account_excel"><button type="button" class="btn btn-info" style="margin-bottom: 20px;float: right;margin-right: 5px" id="btnexcel">批量添加
                            </button></a>


                            <!-- 新建/编辑对话框 -->

                            <div class="modal fade" id="myd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">新建员工账号</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" id="formAdd">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label>姓名</label>
                                                    <input type="text" class="form-control" placeholder="姓名"
                                                           name="username" id="username" required autocomplete="off">
                                                    <a class="formError" id="name_error"></a>
                                                </div>
                                                <div class="form-group">
                                                    <label>登录密码</label>
                                                    <input type="text" class="form-control" placeholder="密码"
                                                           name="password" id="password" required autocomplete="off">
                                                    <a class="formError" id="password_error"></a>
                                                </div>
                                                <div class="form-group">
                                                    <label>邮箱</label>
                                                    <input type="text" class="form-control" placeholder="邮箱"
                                                           name="email" id="email" required autocomplete="off">
                                                    <a class="formError" id="email_error"></a>
                                                </div>
                                                <div class="form-group">
                                                    <label>职位</label>
                                                    <div>
                                                        <select class="form-control" name="office" id="office">
                                                            <option value="1">供应商员工</option>
                                                            <option value="2">采购员工</option>
                                                            <option value="3">库存员工</option>
                                                            <option value="4">采购经理</option>
                                                            <option value="5">库存经理</option>
                                                            <option value="6">生产经理</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>是否激活？</label>
                                                    <div>
                                                        <select class="form-control" name="isactive" id="isactive">
                                                            <option value="1">是</option>
                                                            <option value="0">否</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label>公司编号</label>
                                                    <select class="form-control" name="businessid_id"
                                                            id="businessid_id">
                                                        <option value>公司编号</option>
                                                        {% for s in gongsi %}
                                                            <option value="{{ s.myid }}">{{ s.myid }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <a class="formError" id="bid_error"></a>
                                                </div>

                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" id="btnSave" class="btn btn-info">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#                            删除对话框#}
                            <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">删除员工</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span>是否确定删除？</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" id="Delete" class="btn btn-info">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                    <tr>
                                        <th>员工编号</th>
                                        <th>员工职位</th>
                                        <th>姓名</th>
                                        <th>密码</th>
                                        <th>邮箱</th>
                                        <th>是否激活？</th>
                                        {#                                    <th>是否管理员？</th>#}
                                        <th>公司编号</th>
                                        {% if  request.session.info.office == "0" %}
                                            <th>操作</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody id="table">
                                    {% for obj in queryset %}
                                        <tr>
                                            <td>{{ obj.id }}</td>
                                            <td>{{ obj.get_office_display }}</td>
                                            <td>{{ obj.username }}</td>
                                            <td>{{ obj.password }}</td>
                                            <td>{{ obj.email }}</td>
                                            {% if obj.isactive == 0 %}
                                                <td>否</td>
                                            {% else %}
                                                <td>是</td>
                                            {% endif %}
                                            <td>{{ obj.businessid_id }}</td>
                                            <td>
                                                <button class="btn btn-primary btn-xs btnEdit" id=""
                                                        uid="{{ obj.id }}">编辑
                                                </button>
                                                <button class="btn btn-danger btn-xs btnDelete" id=""
                                                        uid="{{ obj.id }}">删除
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var EDIT_ID;
        var DELETE_ID;
        var PAGE,LENGTH;
        $(document).ready(function () {
            $('li').removeClass('active-page');
            $('#account_documents').addClass('active-page');
            $('#account').addClass('active-page').addClass('open');
            $('#account_ul').css('display', 'block');
            $('#account_ul li').addClass('animation');
            var oTable = $('#example').dataTable();
            var oSettings = oTable.fnSettings();
            $("#btnAdd").click(function () {
                //将正在编辑的ID置空
                EDIT_ID = undefined;
                $(".formError").text("");
                $("#myModalLabel").text("新建员工");
                $("#formAdd")[0].reset();
                // 获取页码值
                PAGE=oSettings._iDisplayStart;
                //获取页面分割长度
                LENGTH=oSettings._iDisplayLength;
                $("#myd").modal('show');
            })
            $("#btnSave").click(function () {
                if (!EDIT_ID) {
                    $.ajax({
                        url: "/account/ac/add/",
                        type: "post",
                        data: $("#formAdd").serialize(),
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                {#验证是否为空#}
                                $("#formAdd")[0].reset();
                                $("#myd").modal('hide');
                                sessionStorage.setItem("page",PAGE);
                                sessionStorage.setItem("length",LENGTH);
                                sessionStorage.setItem("search",$('#example_filter input')[0].value);
                                location.reload();
                            }else {
                                var ids = ["#name_error", "#password_error","#email_error","#bid_error"];
                                for (var i = 0; i < ids.length; i++) {
                                    $(ids[i]).text("");
                                    if (res.error[i] != true) {
                                        $(ids[i]).text(res.error[i]);
                                    }
                                }
                            }
                        }
                    })
                } else {
                    $.ajax({
                        url: "/account/ac/edit/" + "?uid=" + EDIT_ID,
                        type: "post",
                        data: $("#formAdd").serialize(),
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#myd").modal('hide');
                                $("#formAdd")[0].reset();
                                EDIT_ID = undefined;
                                sessionStorage.setItem("page",PAGE);
                                sessionStorage.setItem("length",LENGTH);
                                sessionStorage.setItem("search",$('#example_filter input')[0].value);
                                location.reload();
                            }else {
                                var ids = ["#name_error", "#password_error","#email_error","#bid_error"];
                                for (var i = 0; i < ids.length; i++) {
                                    $(ids[i]).text("");
                                    if (res.error[i] != true) {
                                        $(ids[i]).text(res.error[i]);
                                    }
                                }
                            }
                        }
                    })

                }

            })

            $("#table").on('click', '.btnDelete', function () {
                DELETE_ID = $(this).attr("uid");
                // 获取页码值
                PAGE=oSettings._iDisplayStart;
                //获取页面分割长度
                LENGTH=oSettings._iDisplayLength;
                $("#deleteModel").modal('show');
            })

            $("#Delete").click(
                function () {
                    $.ajax({
                        url: "/account/ac/delete/",
                        type: "post",
                        data: {uid: DELETE_ID},
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#deleteModel").modal('hide');
                                DELETE_ID = undefined;
                                sessionStorage.setItem("page",PAGE);
                                sessionStorage.setItem("length",LENGTH);
                                sessionStorage.setItem("search",$('#example_filter input')[0].value);
                                location.reload();
                            } else {
                                {#员工禁用就行了，没必要删除#}
                                $("#deleteModel").modal('hide');
                                DELETE_ID = undefined;
                                sessionStorage.setItem("page",PAGE);
                                sessionStorage.setItem("length",LENGTH);
                                sessionStorage.setItem("search",$('#example_filter input')[0].value);
                                location.reload();
                            }
                        }
                    })
                }
            )


            $("#table").on('click', '.btnEdit', function () {
                var curid = $(this).attr("uid");
                EDIT_ID = curid;
                // 获取页码值
                PAGE=oSettings._iDisplayStart;
                //获取页面分割长度
                LENGTH=oSettings._iDisplayLength;
                $("#formAdd")[0].reset();
                $.ajax({
                    url: "/account/ac/detail/",
                    type: "get",
                    data: {uid: curid},
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            $.each(res.account, function (name, value) {
                                $("#" + name).val(value);
                            })
                            $("#myModalLabel").text("编辑员工")
                            $(".formError").text("");
                            $("#myd").modal('show');
                        } else {

                        }
                    }
                })
            })

        })


    </script>
{% endblock %}