{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static 'loginui/bootstrap.min.css' %}>

    <!-- Loding font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href={% static 'loginui/styles.css' %}>

    <title>找回密码</title>
</head>
<body>

<!-- Backgrounds -->

<div id="login-bg" class="container-fluid">

    <div class="bg-img"></div>
    <div class="bg-color"></div>
</div>

<!-- End Backgrounds -->

<div class="container" id="login">
    <div class="row justify-content-center" >
        <div class="col-lg-6">
            <div class="login" style="height:94%">

                <h2>New MM</h2>
                <h5>找回密码</h5>

                <!-- Loging form -->

                <form method="post" id="formAdd" >
                    {% csrf_token %}
                    <div>
                        <label style="float: left">输入员工编号</label>
                        <input type="text" class="form-control" id="" placeholder="员工编号" name="username" >
                        <a class="formError" id="username_error" style="color: red;float: left"></a>
                    </div>
                    <div style="margin-bottom: 30px">
                        <label style="text-align: left;padding: 0" class="col-md-12">输入邮箱</label>
                        <input type="text" class="form-control col-md-6" id="" placeholder="邮箱" name="email" style="float: left">
                        <button type="button" class="btn-info" id="btnSend" style="margin-top: 5px;margin-left:30px;float: left">发送验证码</button>
                        <a class="formError" id="email_error" style="color: red;text-align: left;float: left;width: 100%"></a>
                    </div>
                    <br>
                    <div >
                        <label style="float: left">输入验证码</label>
                        <input type="text" class="form-control" id="" placeholder="验证码" name="valid">
                        <a class="formError" id="valid_error" style="color: red;float: left;width: 100%;text-align: left"></a>
                    </div>
                    <div>
                        <label style="float: left">输入新密码</label>
                        <input type="password" class="form-control" id="" placeholder="新密码" name="password" >
                        <a class="formError" id="password_error" style="color: red;float: left"></a>
                    </div>
                    <hr>
                    <button type="button" class="btn-success btn" id="btnLogin" style="width:100%;margin: auto">确定</button>

                </form>
                <!-- End Loging form -->


            </div>
        </div>
    </div>
    <script src={% static 'plugins/jquery/jquery-3.1.0.min.js' %}></script>
    <script src={% static 'plugins/bootstrap/js/bootstrap.min.js' %}></script>
    <script src={% static 'plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}></script>
    <script src={% static 'plugins/uniform/js/jquery.uniform.standalone.js' %}></script>
    <script src={% static 'plugins/switchery/switchery.min.js' %}></script>
    <script src={% static 'js/ecaps.min.js' %}></script>
    <script src={% static 'plugins/datatables/js/jquery.datatables.min.js' %}></script>
    <script src={% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $("#btnLogin").click(function () {

                $("#username_error").text("")
                $("#email_error").text("")
                $("#valid_error").text("")
                $("#password_error").text("")
                $.ajax({
                    url:"/account/ac/login/",
                    type:"post",
                    data:$("#formAdd").serialize(),
                    dataType:"JSON",
                    success:function (res){
                        if(res.status){
                            top.location.href = "/supply/list/";
                        }
                        else{
                            $("#username_error").text(res.errors[0])
                            $("#email_error").text(res.errors[1])
                            $("#valid_error").text(res.errors[2])
                            $("#password_error").text(res.errors[3])
                        }
                    }
                })

            })
            $("#btnSend").click(function () {
                $("#email_error").text("")
                $("#username_error").text("")
                $.ajax({
                    url:"/account/ac/send/",
                    type:"post",
                    data:$("#formAdd").serialize(),
                    dataType:"JSON",
                    success:function (res){
                        if(res.status){
                            alert("验证码已发送")
                        }
                        else{
                            $("#username_error").text(res.errors[0])
                            $("#email_error").text(res.errors[1])
                        }
                    }
                })

            })
        })

        $(document).keyup(function(event){
            if(event.keyCode ==13){
                $("#btnLogin").trigger("click");
            }
        });
    </script>
</div>
</body>
</html>