{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">修改个人信息</h3>
        </div>
        <div style="width: 50%;margin-left: 25%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title" id="myModalLabel">修改个人信息</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="formAdd">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>员工id</label>
                            <input type="text" class="form-control" value="{{ request.session.info.id }}"
                                   name="userid"  disabled>
                        </div>
                        <div class="form-group">
                            <label>姓名</label>
                            <input type="text" class="form-control" value="{{ request.session.info.name }}"
                                   name="name"  >
                            <a class="formError" id="username_error" style="color: red;text-align: left;float: left;padding-top:5px;padding-bottom:8px;width: 100%"></a>
                        </div>
                        <div class="form-group">
                        <div class="form-group">
                            <label>密保问题</label>
                            <select class="form-control" name="sq">
                                {% for q in sq %}
                                    {% if q.id == id %}
                                        <option value="{{ q.id }}" selected>{{ q.question }}</option>
                                    {% else %}
                                       <option value="{{ q.id }}" >{{ q.question }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <a class="formError" id="q_error" style="color: red;text-align: left;float: left;padding-top:5px;padding-bottom:8px;width: 100%"></a>
                        </div>

                        <div class="form-group">
                            <label>密保答案</label>
                            <input type="text" class="form-control" value="{{ answer}}"
                                   name="verification"  >
                            <a class="formError" id="a_error" style="color: red;text-align: left;float: left;padding-top:5px;padding-bottom:8px;width: 100%"></a>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                            </button>
                            <button type="button"  class="btn btn-info" id="btnLogin">保存</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("#btnLogin").click(function () {
                $("#username_error").text("")
                $("#q_error").text("")
                $("#a_error").text("")
                $.ajax({
                    url:"/account/ac/r_massage/",
                    type:"post",
                    data:$("#formAdd").serialize(),
                    dataType:"JSON",
                    success:function (res){
                        if(res.status){
                            location.reload();
                        }
                        else{
                            $("#username_error").text(res.errors[0])
                            $("#q_error").text(res.errors[1])
                            $("#a_error").text(res.errors[2])
                        }
                    }
                })

            })
        })

        $(document).keyup(function(event){
            if(event.keyCode ==13){
                $("#btnLogin").trigger("click");
            }
        });
    </script>
{% endblock %}
