{% extends 'common.html' %}


{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">修改登录密码</h3>
        </div>
        <div style="width: 50%;margin-left: 25%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title" id="myModalLabel">修改登录密码</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="formAdd">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>员工id</label>
                            <input type="text" class="form-control" value="{{ request.session.info.id }}"
                                   name="userid"  disabled>
                        </div>
                        <div class="form-group">
                            <label>旧密码</label>
                            <input type="password" class="form-control" value="" placeholder="请输入原密码"
                                   name="old_password"  >
                            <a class="formError" id="old_error" style="color: red;text-align: left;float: left;padding-top:5px;padding-bottom:8px;width: 100%"></a>
                        </div>
                         <div class="form-group">
                            <label>新密码</label>
                            <input type="password" class="form-control" value="" placeholder="请输入新密码"
                                   name="new1_password"  >
                             <a class="formError" id="n1_error" style="color: red;text-align: left;float: left;padding-top:5px;padding-bottom:8px;width: 100%"></a>
                         </div>
                        <div class="form-group">
                            <label>新密码</label>
                            <input type="password" class="form-control" value="" placeholder="再次输入"
                                   name="new2_password"  >
                            <a class="formError" id="n2_error" style="color: red;text-align: left;float: left;padding-top:5px;padding-bottom:8px;width: 100%"></a>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                            </button>
                            <button type="button"  class="btn btn-info" id="btnSave">保存</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        </div>
        </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("#btnSave").click(function () {
                $("#old_error").text("")
                $("#n1_error").text("")
                $("#n2_error").text("")
                $.ajax({
                    url:"/account/ac/r_password/",
                    type:"post",
                    data:$("#formAdd").serialize(),
                    dataType:"JSON",
                    success:function (res){
                        if(res.status){
                            location.reload();
                        }
                        else{
                            $("#old_error").text(res.errors[0])
                            $("#n1_error").text(res.errors[1])
                            $("#n2_error").text(res.errors[2])
                        }
                    }
                })

            })
        })

        $(document).keyup(function(event){
            if(event.keyCode ==13){
                $("#btnLogin").trigger("click");
            }
        });
    </script>
{% endblock %}
