{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">创建询价单</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">查询请购单</h4>
                        </div>
                        <div class="panel-body container">
                            <form method="get">
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="输入请购单号" name="did" value="{{ did }}">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="输入工厂编号" name="fid" value="{{ fid }}">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="输入物料编号" name="mid" value="{{ mid }}">
                                </div>
                                <button class="btn btn-success" type="submit">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">查询请购单</h4>
                        </div>

                        <div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="search" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                    <tr>
                                        <th>请购单号</th>
                                        <th>物料编号</th>
                                        <th>工厂编号</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                        <th>状态</th>
                                        <th>创建时间</th>
                                        <th>审核时间</th>
                                        <th>创建人</th>
                                        <th>审核人</th>
                                        {% if  request.session.info.office == "0" or request.session.info.office == "4" or request.session.info.office == "2" %}
                                            <th>操作</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody id="table">
                                    {% for obj in queryset %}
                                        <tr>
                                            <td>{{ obj.demandid }}</td>
                                            <td>{{ obj.maid_id }}</td>
                                            <td>{{ obj.facid_id }}</td>
                                            <td>{{ obj.price }}</td>
                                            <td>{{ obj.tcount }}</td>
                                             {% load myfilter %}
                                            <td><a class={{obj.status|table_status:"cgxq"}}>{{ obj.get_status_display }}</a></td>
                                            <td>{{ obj.createtime|date:"Y-m-d H:i:s"  }}</td>
                                            <td>{{ obj.verifytime|date:"Y-m-d H:i:s" }}</td>
                                            <td>{{ obj.createuserid.username }}</td>
                                            <td>{{ obj.verifyuserid.username }}</td>
                                            {#                                        判断是否是管理员，普通员工只能查看#}
                                            {% if  request.session.info.office == "0" or request.session.info.office == "4" or request.session.info.office == "2" %}
                                                {% if obj.status == 1 %}
                                                    <td>
                                                        <a class="btn btn-primary btn-xs btnCite" href="/purchase/inquiry/{{ obj.demandid }}/create/">引用</a>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <a class="btn btn-info btn-xs btnVerify" href="/purchase/toVerify/{{ obj.demandid }}/">去审核</a>
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js%}
    <script type="text/javascript">
        var VERIFY_ID;
        $(document).ready(function() {
            $('li').removeClass('active-page');
            $('#purchase_create_inquiry').addClass('active-page');
            $('#purchase').addClass('active-page').addClass('open');
            $('#purchase_ul').css('display','block');
            $('#purchase_ul li').addClass('animation');

            $('#search').dataTable({
                "searching":false,
                "lengthMenu": [5,10, 15, 20],
                "language": {
                    "processing": "正在加载中......",
                    "lengthMenu": "每页显示 _MENU_ 条记录",
                    "zeroRecords": "对不起，查询不到相关数据！",
                    "emptyTable": "表中无数据存在！",
                    "info": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "infoEmpty": "无搜索结果",
                    "infoFiltered": "(数据表中共为 _MAX_ 条记录)",
                    "search": "搜索",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "末页"
                    }
                } //多语言配置
            });


        })


    </script>
{% endblock %}