{% extends 'common.html' %}

{% block content %}
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">查看单据流</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">查询单据流</h4>
                    </div>
                    <div class="panel-body container">
                        <form method="get">
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="输入单据号" name="id" value="{{ id }}">
                            </div>
                            <button class="btn btn-success" type="submit">搜索</button>
                        </form>
                    </div>
                </div>
            </div>
            {% if progressShow %}
            <div class="col-md-12">
                <div id="doucumentProgressBar" progress="{{progress}}">
                    <!-- 进度条 -->
                    <div class="progress progress-md">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="theBar">
                            <span class="sr-only">25% Complete</span>

                        </div>
                    </div>
                    <!-- 五个圆 -->
                    <span style="left:0%;background:#5893df"></span>
                    <span
                        style="left:8%;margin-top: -5px;margin-left: -12px;width: 24px;height: 24px;background:#5893df"></span>
                    <span
                        style="left:16%;margin-top: -5px;margin-left: -12px;width: 24px;height: 24px;{{style.0}}"></span>
                    <span style="left:25%;{{style.1}}"></span>
                    <span
                        style="left:33%;margin-top: -5px;margin-left: -12px;width: 24px;height: 24px;{{style.2}}"></span>
                    <span
                        style="left:41%;margin-top: -5px;margin-left: -12px;width: 24px;height: 24px;{{style.3}}"></span>
                    <span
                        style="left:49%;margin-top: -5px;margin-left: -12px;width: 24px;height: 24px;{{style.4}}"></span>
                    <span style="left:58%;{{style.5}}"></span>
                    <span
                        style="left:66%;margin-top: -5px;margin-left: -12px;width: 24px;height: 24px;{{style.6}}"></span>
                    <span
                        style="left:74%;margin-top: -5px;margin-left: -12px;width: 24px;height: 24px;{{style.7}}"></span>
                    <span style="left:83%;{{style.8}}"></span>
                    <span
                        style="left:91%;margin-top: -5px;margin-left: -12px;width: 24px;height: 24px;{{style.9}}"></span>
                    <span style="left:100%;{{style.10}}"></span>
                    <div id="doucumentProgressText">
                        <span style="left:0%;">物料需求</span>
                        <span style="left:25%;">创建请购</span>
                        <span style="left:58%;">采购订单</span>
                        <span style="left:83%;">订单入库</span>
                        <span style="left:100%;">生成发票</span>
                    </div>
                    <div id="doucumentProgressSubText">
                        <span style="left:8%">创建采购需求</span>
                        <span style="left:16%">审核需求</span>
                        <span style="left:33%">创建询价单</span>
                        <span style="left:41%">接收报价单</span>
                        <span style="left:49%">评估报价单</span>
                        <span style="left:66%">{{textFirst}}</span>
                        <span style="left:74%">{{textSecond}}</span>
                        <span style="left:91%">订单完成</span>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-md-12" id="documents">
                <section id="cd-timeline" class="cd-container">
                    {% for obj in list %}
                    {% if obj.id != "暂未创建" %}
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-success">
                            <i class="fa fa-tag"></i>
                        </div> <!-- cd-timeline-img -->
                        <div class="cd-timeline-content">
                            <h4>{{ obj.name }}</h4>
                            {% load myfilter %}
                            {% for i in obj|obj_document %}
                            <p class="{{ i.class }}">{{ i.name }}：{{ i.context }}{{ i.text }}</p>
                            {% endfor %}
                            <span class="cd-date">{{ obj.date }}</span>
                        </div> <!-- cd-timeline-content -->
                    </div><!-- cd-timeline-block -->
                    {% endif %}
                    {% endfor %}
                </section>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var VERIFY_ID;
    $(document).ready(function () {
        $('li').removeClass('active-page');
        $('#purchase_documents').addClass('active-page');
        $('#purchase').addClass('active-page').addClass('open');
        $('#purchase_ul').css('display', 'block');
        $('#purchase_ul li').addClass('animation');

        function resetProgressBar() {
            var progress = $("#doucumentProgressBar").attr("progress");
            $("#theBar").attr("style", "width:" + String((Number(progress) + 2) / 12 * 100) + "%");
        }

        resetProgressBar();

        // var fixmeTop = $('#doucumentProgressBar').offset().top;       // get initial position of the element

        // $(window).scroll(function () {                  // assign scroll event listener
        //     var currentScroll = $(window).scrollTop(); // get current position
        //     if (currentScroll >= fixmeTop) {           // apply position: fixed if you
        //         $('#doucumentProgressBar').css({                      // scroll to that element or below it
        //             position: 'fixed',
        //             top: '0',
        //             left: '0'
        //         });
        //     } else {                                   // apply position: static
        //         $('#doucumentProgressBar').css({                      // if you scroll above it
        //             position: 'relative',
        //             margin:"10px 20% 0px 0px",
        //         });
        //     }
        // });
    })
</script>
{% endblock %}