{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">创建采购订单</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">报价单列表</h4>
                        </div>
                        <div>
                            <!-- 对话框 -->
                            <div class="modal fade" id="myd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">创建采购订单</h4>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <div class="form-group form-line-start" style="width:49%">
                                                <label>需求工厂</label>
                                                <input class="form-control" disabled id="form_gc"></input>
                                            </div>
                                            <div class="form-group form-line" style="width:49%">
                                                <label>需求物料</label>
                                                <input class="form-control" disabled id="form_wl"></input>
                                            </div>
                                            <div class="form-group form-line-start" style="width:49%">
                                                <label>已有库存</label>
                                                <input class="form-control" disabled id="form_gckc"></input>
                                            </div>
                                            <div class="form-group form-line" style="width:49%">
                                                <label>采购数量</label>
                                                <input class="form-control" disabled id="form_count"></input>
                                            </div>
                                            <div class="form-group form-line-start" style="width:32%">
                                                <label>供应商编号</label>
                                                <input class="form-control" disabled id="form_gys_id"></input>
                                            </div>
                                            <div class="form-group form-line" style="width:32%">
                                                <label>供应商名称</label>
                                                <input class="form-control" disabled id="form_gys_name"></input>
                                            </div>
                                            <div class="form-group form-line" style="width:32%">
                                                <label>报价价格</label>
                                                <input class="form-control" disabled id="form_gys_price"></input>
                                            </div>
                                            <div class="form-group form-line-start" style="width:32%">
                                                <label>询价有效期</label>
                                                <input class="form-control" disabled id="form_xjyxq"></input>
                                            </div>
                                            <div class="form-group form-line" style="width:32%">
                                                <label>报价有效期</label>
                                                <input class="form-control" disabled id="form_bjyxq"></input>
                                            </div>
                                            <form method="post" id="formAdd">
                                                {% csrf_token %}

                                                <div class="form-group form-line" style="width:32%">
                                                    <label>选择送货截止日期</label>
                                                    <input type="date" class="form-control" name="deadline"
                                                           id="deadline" required>
                                                    <a class="formError" id="date_error"></a>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer" style="margin-top: 40px">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" id="btnSave" class="btn btn-info">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                    <tr>
                                        <th>报价单编号</th>
                                        <th>物料编号</th>
                                        <th>供应商编号</th>
                                        <th>报价</th>
                                        <th>有效期</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table">
                                    {% for obj in queryset %}
                                        {% if obj.quoteid != obj.inquiryid_id and obj.isreceived == 1 %}
                                            <tr>
                                                <td>{{ obj.quoteid }}</td>
                                                <td>{{ obj.inquiryid.demandid.maid_id }}</td>
                                                <td>{{ obj.inquiryid.supplyid_id }}</td>
                                                <td>{{ obj.quote }}</td>
                                                <td>{{ obj.validitytime|date:"Y-m-d H:i:s" }}</td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs btnCreate"
                                                            uid="{{ obj.quoteid }}">创建
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var QUOTE_ID;
        $(document).ready(function () {
            $('li').removeClass('active-page');
            $('#purchase_list').addClass('active-page');
            $('#purchase').addClass('active-page').addClass('open');
            $('#purchase_ul').css('display', 'block');
            $('#purchase_ul li').addClass('animation');

            $("#btnSave").click(function () {
                $.ajax({
                    url: "/purchase/createByQuote/" + "?quid=" + QUOTE_ID,
                    type: "post",
                    data: $("#formAdd").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            $("#myd").modal('hide');
                            $("#formAdd")[0].reset();
                            location.reload();
                        }else {
                            $("#date_error").text(res.error);
                        }
                    }

                })
                EDIT_ID = undefined;
            })

            // {#动态增加点击事件#}
            $("#table").on('click', '.btnCreate', function () {
                var curid = $(this).attr("uid");
                QUOTE_ID = curid;
                $("#formAdd")[0].reset();
                $("#date_error").text("");
                $.ajax({
                        url: "/supply/formSetup",
                        type: "get",
                        data: {"xjd":curid,'type':"bjd,gys"},
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#form_gc").attr("value",res.gc.id+"  |  "+res.gc.type+"  |  "+res.gc.add);
                                $("#form_wl").attr("value",res.wl.id+"  |  "+res.wl.desc);
                                $("#form_gckc").attr("value",res.tcount+res.wl.cal);
                                $("#form_count").attr("value",res.tcount+res.wl.cal);
                                $("#form_gys_id").attr("value",res.gys.id);
                                $("#form_gys_name").attr("value",res.gys.name);
                                $("#form_gys_price").attr("value",res.gys.price+"元/"+res.wl.cal);
                                $("#form_xjyxq").attr("value",res.xjyxq);
                                $("#form_bjyxq").attr("value",res.bjyxq);
                                $("#myd").modal('show');
                            } else {
                            }
                        }
                    })
            })
        })


    </script>
{% endblock %}