{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">库存详情</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                {% if request.session.info.office == "6" or request.session.info.office == "0" %}
                <div class="col-md-4" style="height: 210px">
                {% else %}
                <div class="col-md-6" style="height: 240px">
                {% endif %}
                    <div class="panel panel-white"style="height: 240px">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title"><strong>物料信息</strong></h4>
                        </div>
                        <div class="panel-body">
                            <span id="the-maid" maid="{{now.maid_id}}">物料编号：{{ now.maid_id }}</span><br/><br/>
                            <span>物料类型：{{ now.maid.type }}</span><br/><br/>
                            <span>物料描述：{{ now.maid.desc }}</span><br/><br/>
                            <span>计量单位：{{ now.maid.calcutype }}</span>
                        </div>
                    </div>
                </div>
                {% if request.session.info.office == "6" or request.session.info.office == "0" %}
                <div class="col-md-4" style="height: 240px">
                {% else %}
                <div class="col-md-6" style="height: 240px">
                {% endif %}
                    <div class="panel panel-white"style="height: 240px">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title"><strong>工厂信息</strong></h4>
                        </div>
                        <div class="panel-body">
                            <span id="the-facid" facid="{{now.facid_id}}">工厂编号：{{ now.facid_id }}</span><br/><br/>
                            <span>工厂类型：{{ now.facid.type }}</span><br/><br/>
                            <span>地址：{{ now.facid.address }}</span>
                        </div>
                    </div>
                </div>
                {% if request.session.info.office == "6" or request.session.info.office == "0" %}
                <div class="col-md-4" style="height: 240px">
                    <div class="panel panel-white" style="height: 100%;">
                        <div class="panel-heading clearfix" >
                            <h4 class="panel-title" ><strong>新建物料需求</strong></h4>
                        </div>
                        <div class="panel-body">
{#                            <span>工厂：{{ now.facid_id }} | {{ now.facid.type }} | {{ now.facid.address }}</span><br/>#}
{#                            <span>物料：{{ now.maid_id }} | {{ now.maid.desc }} | {{ now.maid.type }}</span><br/>#}
                            <div>
                                <form style="width: 100%;display: inline-block;" id="purchase_create">
                                    {% csrf_token %}
                                    <div style="margin-bottom: 2px">
                                        采购数量：<input id="purchase_volume" class="form-control" autocomplete="off" placeholder="需求量" style="width: 40%; display: inline-block;"> {{ now.maid.calcutype }}
                                    </div>
                                    <a class="formError" id="purchase_volume_error" style="width: 100%"></a>
                                    <div style="margin-top: 12px">
                                        采购单价：<input id="purchase_price" class="form-control" autocomplete="off" placeholder="预期单价" style="width: 40%; display: inline-block;margin-right: 5px;"> 元/{{ now.maid.calcutype }}
                                    </div>
                                    <a class="formError" id="purchase_price_error" style="width: 100%"></a>
                                </form>
                            </div>
                        </div>
                        <button type="button" id="purchase_btn" class="btn btn-info" style="float: left;margin-top: 10px" >确认</button>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-6" style="margin-top: 25px">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div id="flot3" style="width: 100%;height: 350px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 25px">
                    <div class="panel panel-white">
                        <div class="panel-body ">
                            <div id="chart2" style="width: 100%;height:350px;"></div>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
            <div class="col-md-12" style="padding: 0">
                <div class="panel panel-white">
                    <div class="panel-body ">
                        <div id="chart1" style="width: 100%;height:500px;"></div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var EDIT_ID;
        var DELETE_ID;
        $(document).ready(function () {
            $('li').removeClass('active-page');
            $('#inventory_display').addClass('active-page');
            $('#inventory').addClass('active-page').addClass('open');
            $('#inventory_ul').css('display', 'block');
            $('#inventory_ul li').addClass('animation');
            // {#图表#}
            var myChart = echarts.init(document.getElementById('chart1'));
            var legenddata, xdata, sdata;
            // 指定图表的配置项和数据
            legenddata = ['数量（计量单位：{{ now.maid.calcutype }}）'];
            xdata = ['在途库存', '暂存库存', '未限制使用库存', '冻结库存'];
            sdata = [
                {
                    'name': '数量（计量单位：{{ now.maid.calcutype }}）',
                    'type': 'bar',
                    'data': {{ nowdata }},
                    'label': {
                        'show': true,
                        'position':'top'
                    },
                    'colorBy': "data"
                }];
            var option = {
                title: {
                    text: '{{ now.maid_id }}库存信息',
                    left: "center",
                },
                tooltip: {},
                legend: {
                    data: legenddata,
                    bottom: 0
                },
                xAxis: {
                    data: xdata
                },
                yAxis: {},
                color:['#0070E0','#F1C205','#63cb89','red'],
                series: sdata//后台获取
            };
            myChart.setOption(option);

            var myChart2 = echarts.init(document.getElementById('chart2'));
            var legenddata2, xdata2, sdata2;
            // 指定图表的配置项和数据
            legenddata2 = ['在途库存', '暂存库存', '未限制使用库存', '冻结库存'];
            xdata2 ={{ datelist|safe }};
            sdata2 = [
                {
                    'name': '在途库存',
                    'type': 'line',
                    'data': {{ l1 }}
                },
                {
                    'name': '暂存库存',
                    'type': 'line',
                    'data': {{ l2 }}
                },
                {
                    'name': '未限制使用库存',
                    'type': 'line',
                    'data': {{ l3 }}
                },
                {
                    'name': '冻结库存',
                    'type': 'line',
                    'data': {{ l4 }}
                }
            ];
            var option2 = {
                title: {
                    text: '{{ now.maid_id }}库存历史信息',
                    left: "center"

                },
                tooltip: {},
                legend: {
                    data: legenddata2,
                    bottom: 0
                },
                xAxis: {
                    data: xdata2
                },
                yAxis: {},
                color:['#0070E0','#F1C205','#63cb89','red'],
                series: sdata2//后台获取

            };
            // 使用刚指定的配置项和数据显示图表。
            myChart2.setOption(option2);
            var flot3 = echarts.init(document.getElementById('flot3'));
            var option3={
                title: {
                    text: '{{ now.maid_id }}各类型库存占比',
                    left: "center",
                },
                legend: {
                    bottom:0,
                    data: ['在途库存', '暂存库存', '未限制使用库存', '冻结库存']
                },
                series: [{
                    type: "pie",
                    label: {
                        'show': true,
                        'formatter': '{b}: {d}%'
                    },
                    data: [{
                        value: {{now.inventoryonroad}},
                        name: "在途库存"
                    }, {
                        value: {{now.inventorytemp}},
                        name: "暂存库存"
                    }, {
                        value: {{now.inventoryunrest}},
                        name: "未限制使用库存"
                    }, {
                        value: {{now.inventoryfreeze}},
                        name: "冻结库存"
                    }]
                }],
                color:['#0070E0','#F1C205','#63cb89','red'],
                tooltip: {
                    trigger: 'item',
                    'formatter': "{b} : {c} ({d}%)"
                },
            }
            flot3.setOption(option3);

        })

        // 创建需求
        $("#purchase_btn").click(function () {
            var volume=$("#purchase_volume").val();
            var price=$("#purchase_price").val();
            var facid=$("#the-facid").attr("facid");
            var maid=$("#the-maid").attr("maid");
            var meid=$("#on-log-user").attr("yid");
                $.ajax({
                    url: "/inventory/demand/create/n/",
                    type: "post",
                    data: {"volume":volume,"price":price,"facid":facid,"maid":maid,"meid":meid},
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            $("#purchase_create")[0].reset();
                            location.reload()
                        } else {
                            var ids = ["#purchase_volume_error", "#purchase_price_error"];
                            for (var i = 0; i < ids.length; i++) {
                                $(ids[i]).text("");
                                if (res.error[i] != true) {
                                    $(ids[i]).text(res.error[i]);
                                }
                            }
                        }
                    }
                })
            })


    </script>
{% endblock %}