{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">收货管理</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">暂收单列表</h4>
                        </div>
                        <div>
                            <!-- 对话框 -->
                            <div class="modal fade" id="myd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">入库确认</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" id="formAdd">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="number"  class="form-control" placeholder="实际入库数量" name="receivecount" id="receivecount" required>
                                                </div>
                                                <div class="form-group" style="margin-top: 15px" id="moreinfo">
                                                    <textarea class="input-large form-control" name="moreinfo" id="message" rows="3" placeholder="备注信息"></textarea>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit" id="btnSave" class="btn btn-success">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#                            删除对话框#}
                            <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" >删除入库单</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span>是否确定删除？</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit" id="Delete" class="btn btn-success">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                    <tr>
                                        <th>暂存单号</th>
                                        <th>物料编号</th>
                                        <th>工厂编号</th>
                                        <th>价格</th>
                                        <th>购买数量</th>
                                        <th>是否入库</th>
                                        <th>实际入库数量</th>
                                        <th>备注信息</th>
                                        <th>入库时间</th>
                                        <th>入库单号</th>
                                        {% if  request.session.info.issuper %}
                                            <th>操作</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody id="table">
                                    {% for obj in queryset %}
                                        <tr>
                                            <td>{{ obj.temid_id }}</td>
                                            <td>{{ obj.maid_id }}</td>
                                            <td>{{ obj.facid_id }}</td>
                                            <td>{{ obj.temid.purchaseid.price }}</td>
                                            <td>{{ obj.purcount }}</td>
                                            <td>{{ obj.temid.get_isreceived_display }}</td>
                                            <td>{{ obj.receivecount }}</td>
                                            <td>{{ obj.moreinfo  }}</td>
                                            <td>{{ obj.createtime|date:"Y-m-d H:i:s" }}</td>
                                            <td>{{ obj.id }}</td>
{#                                        判断权限信息#}
                                            {% if  request.session.info.issuper %}
                                                <td>
                                                    {% if obj.temid.isreceived == 0 %}
                                                        <button class="btn btn-primary btn-xs btnReceive" uid="{{ obj.temid_id }}">入库</button>
                                                    {% elif obj.temid.isreceived == 1 %}
                                                        <button class="btn btn-primary btn-xs btnInvoice" uid="{{ obj.temid_id }}">生成发票</button>
                                                    {% else %}
                                                        <button class="btn btn-danger btn-xs btnDelete" id="" uid="{{ obj.temid_id }}">删除</button>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js%}
    <script type="text/javascript">
        var RECEIVE_ID,INVOICE_ID,DELETE_ID;
        $(document).ready(function() {
            $('li').removeClass('active-page');
            $('#inventory_receive').addClass('active-page');
            $('#inventory').addClass('active-page').addClass('open');
            $('#inventory_ul').css('display','block');
            $('#inventory_ul li').addClass('animation');

            $("#btnSave").click(function () {
                if(RECEIVE_ID){
                    $.ajax({
                        url:"/inventory/receive/add/"+"?tid="+RECEIVE_ID,
                        type:"post",
                        data:$("#formAdd").serialize(),
                        dataType:"JSON",
                        success:function (res){
                            if(res.status){
                                $("#myd").modal('hide');
                                $("#formAdd")[0].reset();
                                alert("入库成功");
                                location.reload();
                            }
                        }
                    })
                    RECEIVE_ID=undefined;
                {#    ID重新赋值为空#}
                }
                if(INVOICE_ID){
                    $.ajax({
                        url:"/inventory/invoice/add/"+"?tid="+INVOICE_ID,
                        type:"post",
                        data:$("#formAdd").serialize(),
                        dataType:"JSON",
                        success:function (res){
                            if(res.status){
                                $("#myd").modal('hide');
                                $("#formAdd")[0].reset();
                                alert("生成发票成功，发票单号："+res.id);
                                location.reload();
                            }
                        }
                    })
                    INVOICE_ID=undefined;
                }
            })

            $("#table").on('click','.btnReceive',function () {
                RECEIVE_ID=$(this).attr("uid");
                $("#myModalLabel").text("入库确认");
                $("#receivecount")[0].setAttribute("placeholder","实际入库数量");
                $("#formAdd")[0].reset();
                $("#myd").modal('show');
            })
            $("#table").on('click','.btnInvoice',function () {
                INVOICE_ID=$(this).attr("uid");
                $("#myModalLabel").text("生成发票");
                $("#receivecount")[0].setAttribute("placeholder","请输入运费");
                $("#formAdd")[0].reset();
                $("#myd").modal('show');
            })
            $("#table").on('click','.btnDelete',function () {
                DELETE_ID=$(this).attr("uid");
                $("#deleteModel").modal('show');
            })
            $("#Delete").click(
                function () {
                    $.ajax({
                        url:"/inventory/receive/delete/",
                        type:"get",
                        data:{uid:DELETE_ID},
                        dataType:"JSON",
                        success:function (res){
                            if(res.status){
                                $("#deleteModel").modal('hide');
                                DELETE_ID=undefined;
                                location.reload();
                            }
                        }
                    })
                }
            )


        })


    </script>
{% endblock %}