{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">采购需求管理</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">采购需求列表</h4>
                        </div>
                        <div>
                            {% if  request.session.info.office == "0" or request.session.info.office == "3" or request.session.info.office == "5" %}
                                <button type="button" class="btn btn-info" style="margin-bottom: 20px" id="btnAdd">添加
                                </button>
                            {% endif %}
                            <!-- 新建对话框 -->
                            <div class="modal fade" id="myd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">新建采购需求</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" id="formAdd">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <select class="form-control" name="facid_id" id="facid_id">
                                                        <option value selected>工厂编号</option>
                                                        {% for s in factory %}
                                                            <option value="{{ s.id }}">{{ s.id }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <a class="formError" id="facid_id_error"></a>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control" name="maid_id" id="maid_id">
                                                        <option value selected>物料编号</option>
                                                        {% for m in material %}
                                                            <option value="{{ m.id }}"
                                                                    id="{{ m.id }}">{{ m.id }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <a class="formError" id="maid_id_error"></a>
                                                </div>
                                                <div class="form-group">
                                                    <input type="number" class="form-control" placeholder="价格"
                                                           name="price" id="price" required>
                                                    <a class="formError" id="price_error"></a>
                                                </div>
                                                <div class="form-group">
                                                    <input type="number" class="form-control" placeholder="数量"
                                                           name="tcount" id="tcount" required>
                                                    <a class="formError" id="tcount_error"></a>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" id="btnSave" class="btn btn-success">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">删除采购需求</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span>是否确定删除？</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" id="Delete" class="btn btn-success">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                    <tr>
                                        <th>请购单号</th>
                                        <th>物料编号</th>
                                        <th>工厂编号</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                        <th>状态</th>
                                        <th>创建时间</th>
                                        <th>审核时间</th>
                                        <th>创建人</th>
                                        <th>审核人</th>
                                        {% if  request.session.info.office == "0" or request.session.info.office == "3" or request.session.info.office == "5" %}
                                            <th>操作</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody id="table">
                                    {% for obj in caigou %}
                                        <tr>
                                            <td>{{ obj.demandid }}</td>
                                            <td>{{ obj.maid_id }}</td>
                                            <td>{{ obj.facid_id }}</td>
                                            <td>{{ obj.price }}</td>
                                            <td>{{ obj.tcount }}</td>
                                            {% load myfilter %}
                                            <td>
                                                <a class={{ obj.status|table_status:"cgxq" }}>{{ obj.get_status_display }}</a>
                                            </td>
                                            <td>{{ obj.createtime|date:"Y-m-d H:i:s" }}</td>
                                            <td>{{ obj.verifytime|date:"Y-m-d H:i:s" }}</td>
                                            <td>{{ obj.createuserid.username }}</td>
                                            <td>{{ obj.verifyuserid.username }}</td>
                                            {#                                        判断是否是管理员，普通员工只能查看#}
                                            {% if  request.session.info.office == "0" or request.session.info.office == "3" or request.session.info.office == "5" %}
                                                <td>
                                                    {% if obj.status == 2 %}
                                                        <button class="btn btn-danger btn-xs btnDelete"
                                                                uid="{{ obj.demandid }}">删除
                                                        </button>
                                                    {% elif obj.status == 1 %}
                                                        <button class="btn btn-default btn-xs btnCom"
                                                                uid="{{ obj.demandid }}">完成
                                                        </button>
                                                    {% elif request.session.info.office != "3" %}
                                                        <button class="btn btn-primary btn-xs btnVerify"
                                                                uid="{{ obj.demandid }}">确认
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var VERIFY_ID, DELETE_ID;
        var showToast = localStorage.getItem("notify_show");
        $(document).ready(function () {
            $('li').removeClass('active-page');
            $('#inventory_demand').addClass('active-page');
            $('#inventory').addClass('active-page').addClass('open');
            $('#inventory_ul').css('display', 'block');
            $('#inventory_ul li').addClass('animation');

            if (showToast != undefined) {
                if (showToast) {
                    if (showToast != "false") {
                        $("#toast-type").text(localStorage.getItem("notify_type"));
                        $("#toast-tittle").text(localStorage.getItem("notify_tittle"));
                        $("#toast-context").text(localStorage.getItem("notify_context"));
                        $("#showtoast").triggerHandler("click");
                    }
                }
            }

            $("#btnAdd").click(function () {
                $(".formError").text("");
                $("#formAdd")[0].reset();
                $("#myd").modal('show');
            })
            $("#btnSave").click(function () {
                $.ajax({
                    url: "/inventory/demand/add/",
                    type: "post",
                    data: $("#formAdd").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        var res_dict = JSON.parse(res);
                        console.log(res_dict);
                        if (res_dict.status) {
                            $("#myd").modal('hide');
                            $("#formAdd")[0].reset();
                            // 此处页面响应顺序为：后端插入数据→页面reload→弹出信息提示床架成功
                            // 故用localStorage暂存消息提醒状态和内容
                            // 暂存信息在消息成功提醒后清空：notify_show设为false,其他remove
                            localStorage.setItem("notify_show", true);
                            localStorage.setItem("notify_tittle", "提示");
                            localStorage.setItem("notify_context", "采购需求创建成功");
                            localStorage.setItem("notify_type", "success");
                            location.reload()
                        } else {
                            var ids = ["#facid_id_error", "#maid_id_error", "#price_error", "#tcount_error"];
                            for (var i = 0; i < ids.length; i++) {
                                $(ids[i]).text("");
                                if (res_dict.error[i] != true) {
                                    $(ids[i]).text(res_dict.error[i]);
                                }
                            }
                        }
                    }
                })
            })

            $("#table").on('click', '.btnVerify', function () {
                VERIFY_ID = $(this).attr("uid");

                $.ajax({
                    url: "/inventory/demand/verify/",
                    type: "post",
                    data: {"did": VERIFY_ID},
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            localStorage.setItem("notify_show", true);
                            localStorage.setItem("notify_tittle", "提示");
                            localStorage.setItem("notify_context", "采购需求审核成功");
                            localStorage.setItem("notify_type", "success");
                            location.reload();
                        }
                    }
                })
            })

            $("#table").on('click', '.btnDelete', function () {
                DELETE_ID = $(this).attr("uid");
                $("#deleteModel").modal('show');
            })

            $("#Delete").click(
                function () {
                    $.ajax({
                        url: "/inventory/demand/delete/",
                        type: "get",
                        data: {uid: DELETE_ID},
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#deleteModel").modal('hide');
                                DELETE_ID = undefined;
                                localStorage.setItem("notify_show", true);
                                localStorage.setItem("notify_tittle", "提示");
                                localStorage.setItem("notify_context", "采购需求已删除");
                                localStorage.setItem("notify_type", "info");
                                location.reload();
                            } else {
                            }
                        }
                    })
                }
            )

        })


    </script>
{% endblock %}