{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">库存详情</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title"><strong>物料信息</strong></h4>
                        </div>
                        <div class="panel-body">
                            <span>物料编号：{{ now.maid_id }}</span><br/>
                            <span>物料类型：{{ now.maid.type }}</span><br/>
                            <span>物料描述：{{ now.maid.desc }}</span><br/>
                            <span>计量单位：{{ now.maid.calcutype }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title"><strong>工厂信息</strong></h4>
                        </div>
                        <div class="panel-body">
                            <span>工厂编号：{{ now.facid_id }}</span><br/>
                            <span>工厂类型：{{ now.facid.type }}</span><br/>
                            <span>地址：{{ now.facid.address }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-white">
                        <div class="panel-body ">
                            <div id="chart1" style="width: 100%;height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-white">
                        <div class="panel-body ">
                            <div id="chart2" style="width: 100%;height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
            <div class="row">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-body" ><strong>{{ now.facid_id }}库存占比情况</strong></h4>
                        </div>
                        <div id="flot3"><svg></svg></div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var EDIT_ID;
        var DELETE_ID;
        $(document).ready(function () {
            $('li').removeClass('active-page');
            $('#inventory_display').addClass('active-page');
            $('#inventory').addClass('active-page').addClass('open');
            $('#inventory_ul').css('display', 'block');
            $('#inventory_ul li').addClass('animation');

            {#console.log({{datelist|safe}});#}
            {#图表#}
            var myChart = echarts.init(document.getElementById('chart1'));
            var legenddata, xdata, sdata;
            // 指定图表的配置项和数据
            legenddata = ['数量（计量单位：{{ now.maid.calcutype }}）'];
            xdata = ['在途库存', '暂存库存', '未限制使用库存', '冻结库存'];
            sdata = [
                {
                    'name': '数量（计量单位：{{ now.maid.calcutype }}）',
                    'type': 'bar',
                    'data': {{ nowdata }}
                }];
            var option = {
                title: {
                    text: '{{ now.maid_id }}库存信息',
                    left: "center"

                },
                tooltip: {},
                legend: {
                    data: legenddata,
                    bottom: 0
                },
                xAxis: {
                    data: xdata
                },
                yAxis: {},
                series: sdata//后台获取
            };
            // 使用刚指定的配置项和数据显示图表。
            {#console.log(option)#}
            myChart.setOption(option);

            var myChart2 = echarts.init(document.getElementById('chart2'));
            var legenddata2, xdata2, sdata2;
            // 指定图表的配置项和数据
            legenddata2 = ['在途库存', '暂存库存', '未限制使用库存', '冻结库存'];
            xdata2 ={{ datelist|safe }};
            sdata2 = [
                {
                    'name': '在途库存',
                    'type': 'line',
                    'data': {{ l1 }}
                },
                {
                    'name': '暂存库存',
                    'type': 'line',
                    'data': {{ l2 }}
                },
                {
                    'name': '未限制使用库存',
                    'type': 'line',
                    'data': {{ l3 }}
                },
                {
                    'name': '冻结库存',
                    'type': 'line',
                    'data': {{ l4 }}
                }
            ];
            var option2 = {
                title: {
                    text: '{{ now.maid_id }}库存历史信息',
                    left: "center"

                },
                tooltip: {},
                legend: {
                    data: legenddata2,
                    bottom: 0
                },
                xAxis: {
                    data: xdata2
                },
                yAxis: {},
                series: sdata2//后台获取
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart2.setOption(option2);
var flot3 = echarts.init(document.getElementById('flot3'));

var flot3 = function () {
        var data = [{
            label: "在途库存",
            data: {{now.inventoryonroad}},
            color: "#0070E0",
        }, {
            label: "暂存库存",
            data:{{now.inventorytemp}} ,
            color: "#F1C205",
        }, {
            label: "未限制使用库存",
            data:{{now.inventoryunrest}} ,
            color:"#A20",
        },{
            label: "冻结库存",
            data: {{now.inventoryfreeze}},
            color: "#171515",
        }];
        var options = {
            series: {
                pie: {
                    show: true
                }
            },
            legend: {
                labelFormatter: function(label, series){
                    return '<span class="pie-chart-legend">'+label+'</span>';
                }
            },
            grid: {
                hoverable: true
            },
            tooltip: true,
            tooltipOpts: {
                content: "%p.0%, %s",
                shifts: {
                    x: 20,
                    y: 0
                },
                defaultTheme: false
            }
        };
        $.plot($("#flot3"), data, options);
    };
flot3().setOption(options);
            {#new Chart(document.getElementById("chart3"),#}
            {#    {"type":"line",#}
            {#        "data":{#}
            {#            "labels":{{ datelist|safe }},#}
            {#            "datasets":[#}
            {#                {"label":"在途库存",#}
            {#"borderColor":"rgb(99, 203, 137)",#}
            {#                "data":{{ l1 }},#}
            {#                "fill":false,#}
            {#                "lineTension":0.1},#}
            {#                {"label":"暂存库存",#}
            {#"borderColor":"rgb(99, 203, 137)",#}
            {#                    "data":{{ l2 }},#}
            {#                    "fill":false,#}
            {#                    "lineTension":0.1},#}
            {#                {"label":"未限制使用库存",#}
            {#"borderColor":"rgb(99, 203, 137)",#}
            {#                    "data":{{ l3 }},#}
            {#                    "fill":false,#}
            {#                    "lineTension":0.1},#}
            {#                {"label":"冻结库存",#}
            {#"borderColor":"rgb(99, 203, 137)",#}
            {#                    "data":{{ l4 }},#}
            {#                    "fill":false,#}
            {#                    "lineTension":0.1},#}
            {#            ]},#}
            {#        "options":{}#}
            {#    });#}


        })


    </script>
{% endblock %}