{% extends 'common.html' %}
{% load static %}
{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">供应商发票</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title"><strong>发票详情</strong></h4>
                        </div>
                        <div class="col-md-12 text-right" style="padding-right:0;">
                            <button type="button" class="btn btn-default" id="printBtn"><i class="fa fa-print"></i> 打印
                            </button>
                        </div>
                        <!--startprint-->
                        <div class="panel-body" id="invoicePdf" style="background-color: #FFFFFF">
                            <div class="col-md-4" style="padding-left:0;">
                                <label><strong>供应商:</strong></label>
                                <h3 class="m-b-md m-t-xxs"><b>{{ invoice.purchaseid.quoteid.inquiryid.supplyid.name }}</b></h3>
                                <address>
                                    <label><strong>供应商编号：</strong></label><br>
                                    {{ invoice.purchaseid.quoteid.inquiryid.supplyid_id }}<br>
                                     <label><strong>供应商地址：</strong></label><br>
                                    {{ invoice.purchaseid.quoteid.inquiryid.supplyid.address }}
                                </address>
                            </div>
                            <div class="col-md-8 text-right" style="padding-right:0;">
                                <h3 class="m-t-xs">发票</h3>
                            </div>
                            <div class="col-md-12" style="padding-left:0;">
                                <hr>
                                <p>
                                    <strong>Invoice to</strong><br>
                                     <label><strong>名称：</strong></label>
                                    {{ invoice.purchaseid.quoteid.createuserid.businessid.name }}<br>
                                    <label><strong>邮政编码：</strong></label>
                                    {{ invoice.purchaseid.quoteid.createuserid.businessid.postcode }}<br>
                                     <label><strong>地址：</strong></label>
                                    {{ invoice.purchaseid.quoteid.createuserid.businessid.address }}<br>
                                    <strong>电话:</strong> {{ invoice.purchaseid.quoteid.createuserid.businessid.telephone }}<br>
                                </p>
                            </div>
                            <div class="col-md-12" style="padding-left:0;padding-right:0;">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>物料编号</th>
                                        <th>描述</th>
                                        <th>数量</th>
                                        <th>计量单位</th>
                                        <th>价格</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ invoice.purchaseid.quoteid.inquiryid.demandid.maid_id }}</td>
                                        <td>{{ invoice.purchaseid.quoteid.inquiryid.demandid.maid.desc }}</td>
                                        <td>{{ invoice.purchaseid.quoteid.inquiryid.demandid.tcount }}</td>
                                        <td>{{ invoice.purchaseid.quoteid.inquiryid.demandid.maid.calcutype }}</td>
                                        <td>{{ invoice.purchaseid.quoteid.quote }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-8" style="padding-left:0;  ">
                                <h4>备注</h4>
                                <h4>Thank you!</h4>
                                <p>{{ invoice.moreinfo }}</p>
                                <img src={% static 'images/money.png' %} height="150" class="m-t-lg" alt="">
                            </div>
                            <div class="col-md-4" style="padding-right:0;">
                                <div class="text-right">
                                    <h4 class="no-m m-t-sm">总价</h4>
                                    <h2 class="no-m">{{ invoice.money }}</h2>
                                    <hr>
                                    <h4 class="no-m m-t-sm">运费</h4>
                                    <h2 class="no-m">{{ invoice.fee }}</h2>
                                    <hr>
                                    <h4 class="no-m m-t-md text-success">总计</h4>
                                    {% load myfilter %}
                                    <h1 class="no-m text-success">{{ invoice.money|money_add:invoice.fee }}</h1>
                                    <hr>
                                    <!--endprint-->
{#                                    <button class="btn btn-info">post</button>#}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var RECEIVE_ID;
        $(document).ready(function () {
            $('li').removeClass('active-page');
            $('#inventory_invoice').addClass('active-page');
            $('#inventory').addClass('active-page').addClass('open');
            $('#inventory_ul').css('display', 'block');
            $('#inventory_ul li').addClass('animation');
            
            function doPrint() {
                let bdhtml = window.document.body.innerHTML;
                let sprnstr = "<!--startprint-->"; //开始打印标识字符串有17个字符
                let eprnstr = "<!--endprint-->"; //结束打印标识字符串
                let prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17); //从开始打印标识之后的内容
                prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr)); //截取开始标识和结束标识之间的内容
                window.document.body.innerHTML = prnhtml; //把需要打印的指定内容赋给body.innerHTML
                window.print(); //调用浏览器的打印功能打印指定区域
                window.document.body.innerHTML = bdhtml;//重新给页面内容赋值；
                return false;
            }
            function doPrint3(){

                //判断iframe是否存在，不存在则创建iframe
                var iframe=document.getElementById("print-iframe");
                if(!iframe){
                    var el = document.getElementById("invoicePdf");
                    iframe = document.createElement('IFRAME');
                    var doc = null;
                    iframe.setAttribute("id", "print-iframe");
                    iframe.setAttribute('style', 'position:absolute;width:0px;height:0px;left:-500px;top:-500px;');
                    document.body.appendChild(iframe);
                    doc = iframe.contentWindow.document;
                    //这里可以自定义样式
                    doc.write('<style media="print">@page {size: auto;margin: 0mm;}</style>'); //解决出现页眉页脚和路径的问题
                    doc.write('<div>' + el.innerHTML + '</div>');
                    doc.close();
                    iframe.contentWindow.focus();
                }
                setTimeout(function(){ iframe.contentWindow.print();},50)  //解决第一次样式不生效的问题
                if (navigator.userAgent.indexOf("MSIE") > 0){
                    document.body.removeChild(iframe);
                }
            }
            $('#printBtn').click(function () {
                if (confirm("您确认下载该PDF文件吗?")) {
                    doPrint();
                }
            })
            
            

        })


    </script>
{% endblock %}