{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">暂存检查</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">采购订单列表</h4>
                        </div>
                        <div>
                            <div class="modal fade" id="myd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" id="formAdd">
                                                {% csrf_token %}
                                                <div class="form-group" id="form-show-group">
                                                    <div class="form-group form-line-start" style="width:32%">
                                                        <label>采购物料编号</label>
                                                        <input class="form-control" disabled id="form_wl_id"></input>
                                                    </div>
                                                    <div class="form-group form-line" style="width:32%">
                                                        <label>物料名称</label>
                                                        <input class="form-control" disabled id="form_wl_name"></input>
                                                    </div>
                                                    <div class="form-group form-line" style="width:32%">
                                                        <label>采购数量</label>
                                                        <input class="form-control" disabled id="form_wl_count"></input>
                                                    </div>
                                                    <div class="control-group m-b-sm" id="toastTypeGroup">
                                                        <div class="controls">
                                                            <label id="myLa" >质检结果</label>
                                                            <label style="margin-left:4%">
                                                                <input type="radio" name="check" value="1" checked id="pass" /> 通过
                                                            </label>
                                                            <label style="margin-left:2%">
                                                                <input type="radio" name="check" value="0" id="fail"/> 不通过
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div id="reason" style="display: none">
                                                        <div class="form-group form-line-start" style="width:15%">
                                                            <label id="myLa" >不合格原因</label>
                                                        </div>
                                                        <div class="form-group form-line" style="width:15%" id="reason_check_4">
                                                            <label>
                                                                <input type="checkbox" name="check_reason" value="0" id="reason_check_0"/> 货物破损
                                                            </label>
                                                        </div>
                                                        <div class="form-group form-line" style="width:22%" id="reason_check_5">
                                                            <label>
                                                                <input type="checkbox" name="check_reason" value="1" id="reason_check_1"/> 配送错误物料</label>
                                                        </div>
                                                        <div class="form-group form-line" style="width:18%" id="reason_check_6">
                                                            <label>
                                                                <input type="checkbox" name="check_reason" value="2" id="reason_check_2"/> 抽检不达标</label>
                                                        </div>
                                                        <div class="form-group form-line" style="width:18%" id="reason_check_7">
                                                            <label>
                                                                <input type="checkbox" name="check_reason" value="3" id="reason_check_3"/> 全检不达标</label>
                                                        </div>
                                                        <div class="form-group form-line-start" style="width:18%" id="reason_check_8">
                                                            <label>
                                                                <input type="checkbox" name="check_reason" value="4" id="reason_check_4"/> 损耗超标</label>
                                                        </div>
                                                        <div class="form-group form-line" style="width:22%" id="reason_check_9">
                                                            <label>
                                                                <input type="checkbox" name="check_reason" value="5" id="reason_check_5"/> 计量单位错误</label>
                                                        </div>
                                                        <div class="control-group m-b-sm" id="rejectReason"></div>
                                                    </div>
                                                    <div class="form-group" style="margin-top: 15px;" >
                                                            <textarea class="input-large form-control" name="moreinfo"
                                                                      id="message" rows="3"
                                                                      placeholder="情况说明">
                                                            </textarea>
                                                    </div>

                                                </div>

                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" id="btnSave" class="btn btn-info">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#                            删除对话框#}
                            <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">删除暂存单</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span>是否确定删除？</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" id="Delete" class="btn btn-success">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                    <tr>
                                        <th>采购单号</th>
                                        <th>物料编号</th>
                                        <th>工厂编号</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                        <th>质检状态</th>
                                        <th>量检状态</th>
                                        <th>暂存单号</th>
                                        {% if  request.session.info.office == "0" or request.session.info.office == "3" or request.session.info.office == "5" %}
                                            <th>操作</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody id="table">
                                    {% for obj in queryset %}
                                        <tr>
                                            <td>{{ obj.purchaseid_id }}</td>
                                            <td>{{ obj.purchaseid.maid_id }}</td>
                                            <td>{{ obj.purchaseid.facid_id }}</td>
                                            <td>{{ obj.purchaseid.price }}</td>
                                            <td>{{ obj.purchaseid.tcount }}</td>
                                            {% load myfilter %}
                                            <td>
                                                <a class={{ obj.qualitycheckinfo|table_status:"zsd-jc" }}>{{ obj.get_qualitycheckinfo_display }}</a>
                                            </td>
                                            <td>
                                                <a class={{ obj.quantitycheckinfo|table_status:"zsd-jc" }}>{{ obj.get_quantitycheckinfo_display }}</a>
                                            </td>
                                            {% if obj.temid == obj.purchaseid_id %}
                                                <td><a class="table_status_0">未检收</a></td>
                                            {% else %}
                                                <td>{{ obj.temid }}</td>
                                            {% endif %}
                                            {#                                        判断是否是管理员，普通员工只能查看#}
                                            {% if  request.session.info.office == "0" or request.session.info.office == "3" or request.session.info.office == "5" %}
                                                <td>
                                                    {% if obj.qualitycheckinfo == -1 and obj.quantitycheckinfo != 0  %}
                                                        <button class="btn btn-primary btn-xs btnQuality"
                                                                uid="{{ obj.purchaseid_id }}">质检
                                                        </button>
                                                    {% endif %}
                                                    {% if obj.quantitycheckinfo == -1 and obj.qualitycheckinfo != 0  %}
                                                        <button class="btn btn-primary btn-xs btnQuantity"
                                                                uid="{{ obj.purchaseid_id }}">量检
                                                        </button>
                                                    {% endif %}
                                                    {% if obj.quantitycheckinfo != -1 and obj.qualitycheckinfo != -1  or obj.qualitycheckinfo == 0 or obj.quantitycheckinfo == 0 %}
                                                        <button class="btn btn-danger btn-xs btnDelete" id=""
                                                                uid="{{ obj.purchaseid_id }}">删除
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var QUANTITY_ID, QUALITY_ID, DELETE_ID;
        var PAGE,LENGTH;
        $(document).ready(function () {
            $('li').removeClass('active-page');
            $('#inventory_temp').addClass('active-page');
            $('#inventory').addClass('active-page').addClass('open');
            $('#inventory_ul').css('display', 'block');
            $('#inventory_ul li').addClass('animation');
            var oTable = $('#example').dataTable();
            var oSettings = oTable.fnSettings();
            $("#btnSave").click(function () {
                if (QUALITY_ID) {
                    $.ajax({
                        url: "/inventory/quality/check/" + "?puid=" + QUALITY_ID,
                        type: "post",
                        data: $("#formAdd").serialize(),
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#myd").modal('hide');
                                $("#formAdd")[0].reset();
                                sessionStorage.setItem("page",PAGE);
                                sessionStorage.setItem("length",LENGTH);
                                sessionStorage.setItem("search",$('#example_filter input')[0].value);
                                location.reload();

                                QUALITY_ID = undefined;
                            }
                        }
                    })

                }
                if (QUANTITY_ID) {
                    $.ajax({
                        url: "/inventory/quantity/check/" + "?puid=" + QUANTITY_ID,
                        type: "post",
                        data: $("#formAdd").serialize(),
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#myd").modal('hide');
                                $("#formAdd")[0].reset();
                                sessionStorage.setItem("page",PAGE);
                                sessionStorage.setItem("length",LENGTH);
                                sessionStorage.setItem("search",$('#example_filter input')[0].value);
                                location.reload();

                                QUANTITY_ID = undefined;
                            }
                        }
                    })

                }

            })
            var checkBoxs=$('input[name="check_reason"]');
            $("#table").on('click', '.btnQuantity', function () {
                QUANTITY_ID = $(this).attr("uid");
                QUALITY_ID = undefined;
                $("#formAdd")[0].reset();
                $("#myModalLabel").text("数量检查");
                $("#myLa").text("量检结果");
                // 获取页码值
                PAGE=oSettings._iDisplayStart;
                //获取页面分割长度
                LENGTH=oSettings._iDisplayLength;
                $('#reason span').removeClass("checked");
                $("#reason_check_8").removeClass("my-hiden");
                $("#reason_check_9").removeClass("my-hiden");
                $("#reason_check_4").addClass("my-hiden");
                $("#reason_check_5").addClass("my-hiden");
                $("#reason_check_6").addClass("my-hiden");
                $("#reason_check_7").addClass("my-hiden");
                $.ajax({
                        url: "/supply/formSetup",
                        type: "get",
                        data: {"cgd":QUANTITY_ID,'type':"cgd"},
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#form_wl_id").attr("value",res.wl.id);
                                $("#form_wl_name").attr("value",res.wl.desc);
                                $("#form_wl_count").attr("value",res.tcount+res.wl.cal);
                                $("#myd").modal('show');
                            } else {
                            }
                        }

                    })
            })
            $("#table").on('click', '.btnQuality', function () {
                QUALITY_ID = $(this).attr("uid");
                QUANTITY_ID = undefined;
                $("#formAdd")[0].reset();
                $("#myModalLabel").text("质量检查");
                $("#myLa").text("质检结果");
                // 获取页码值
                PAGE=oSettings._iDisplayStart;
                //获取页面分割长度
                LENGTH=oSettings._iDisplayLength;
                $('#reason span').removeClass("checked");
                $("#reason_check_4").removeClass("my-hiden");
                $("#reason_check_5").removeClass("my-hiden");
                $("#reason_check_6").removeClass("my-hiden");
                $("#reason_check_7").removeClass("my-hiden");
                $("#reason_check_8").addClass("my-hiden");
                $("#reason_check_9").addClass("my-hiden");
                $.ajax({
                        url: "/supply/formSetup",
                        type: "get",
                        data: {"cgd":QUALITY_ID,'type':"cgd"},
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#form_wl_id").attr("value",res.wl.id);
                                $("#form_wl_name").attr("value",res.wl.desc);
                                $("#form_wl_count").attr("value",res.tcount+res.wl.cal);
                                $("#myd").modal('show');
                            } else {
                            }
                        }

                    })
            })
            var checkstate=[false,false,false,false,false,false];
            $("#pass").click(function () {
                $("#message").text("")
                $('#reason span').removeClass("checked");
                $("#reason").css("display","None");
            })
            $("#fail").click(function () {
                $("#reason").css("display","block");

            })
            $("input[name='check_reason']").click(function(index,item){
                var dic={
                    0:'\r\n货物破损情况严重',
                    1:'\r\n配送物料种类与采购订单不符。',
                    2:'\r\n对物料抽样检查，合格率不达标。',
                    3:'\r\n对所有物料进行质检，均不合格。',
                    4:'\r\n运输物料的损耗率超出约定的损耗率，物料余量不足。',
                    5:'\r\n供应商使用错误的计量单位，暂收量与采购量不一致。'
                };
                checkstate[this.value]=!checkstate[this.value];
                console.log(checkstate);
                var text="【不通过原因】：";
                var flag=false;
                for(let i=0;i<6;i++)
                {
                    if(checkstate[i])
                    {
                        text+=dic[i];
                        flag=true;
                    }
                }
                if(!flag)
                {
                    text="";
                }
                $("#message").text(text);
            })

            $("#table").on('click', '.btnDelete', function () {
                DELETE_ID = $(this).attr("uid");
                // 获取页码值
                PAGE=oSettings._iDisplayStart;
                //获取页面分割长度
                LENGTH=oSettings._iDisplayLength;

                $("#deleteModel").modal('show');
            })
            $("#Delete").click(
                function () {
                    $.ajax({
                        url: "/inventory/temp/delete/",
                        type: "get",
                        data: {uid: DELETE_ID},
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#deleteModel").modal('hide');
                                DELETE_ID = undefined;
                                sessionStorage.setItem("page",PAGE);
                                sessionStorage.setItem("length",LENGTH);
                                sessionStorage.setItem("search",$('#example_filter input')[0].value);
                                location.reload();
                            }
                        }
                    })
                }
            )


        })


    </script>
{% endblock %}