{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href={% static 'loginui/bootstrap.min.css' %}>

	<!-- Loding font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

	<!-- Custom Styles -->
	<link rel="stylesheet" type="text/css" href={% static 'loginui/styles.css' %}>

	<title>用户登录</title>
</head>
<body>

<!-- Backgrounds -->

<div id="login-bg" class="container-fluid">

	<div class="bg-img"></div>
	<div class="bg-color"></div>
</div>

<!-- End Backgrounds -->

<div class="container" id="login">
	<div class="row justify-content-center" >
		<div class="col-lg-6">
			<div class="login" style="height:110%">

				<h2>New MM</h2>
				<h5>欢迎您</h5>

				<!-- Loging form -->

				<form method="post"  >
					{% csrf_token %}

					<hr>
					<a href="/login"><button  type="button" class="btn-success btn" id="btnLogin" style="width:100%;margin-top: 5%">登录</button></a>
					<a href="/guide"><button type="button" class="btn-success btn" id="btnLogin" style="width:100%;margin-top: 5%;background-color: #ffffff;color: #0c0c0c">操作指南</button>

				</form>


			</div>
		</div>
	</div>
	<script src={% static 'plugins/jquery/jquery-3.1.0.min.js' %}></script>
	<script src={% static 'plugins/bootstrap/js/bootstrap.min.js' %}></script>
	<script src={% static 'plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}></script>
	<script src={% static 'plugins/uniform/js/jquery.uniform.standalone.js' %}></script>
	<script src={% static 'plugins/switchery/switchery.min.js' %}></script>
	<script src={% static 'js/ecaps.min.js' %}></script>
	<script src={% static 'plugins/datatables/js/jquery.datatables.min.js' %}></script>
	<script src={% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}></script>

</div>
</body>
</html>