{% extends 'common.html' %}

{% block content %}
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">报价单管理</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">报价单列表</h4>
                        </div>
                        <div>
                            <!-- 对话框 -->
                            <div class="modal fade" id="myd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">报价</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" id="formAdd">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="number" class="form-control" placeholder="价格"
                                                           name="quote" id="quote" required>
                                                    <a class="formError" id="quote_error"></a>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" id="btnSave" class="btn btn-info">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">删除报价单</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span>是否确定删除？</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                            <button type="submit" id="Delete" class="btn btn-info">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                    <tr>
                                        <th>报价单编号</th>
                                        <th>询价单编号</th>
                                        <th>物料编号</th>
                                        <th>供应商编号</th>
                                        <th>公司编号</th>
                                        <th>报价</th>
                                        <th>有效期</th>
                                        {% if  request.session.info.office == "1" or request.session.info.office == "0" %}
                                            <th>操作</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody id="table">
                                    {% for obj in queryset %}
                                        <tr>
                                            <td>
                                                {% if obj.quoteid != obj.inquiryid_id %}
                                                    {{ obj.quoteid }}
                                                {% endif %}
                                            </td>
                                            <td>{{ obj.inquiryid_id }}</td>
                                            <td>{{ obj.maid_id }}</td>
                                            <td>{{ obj.supplyid_id }}</td>
                                            <td>{{ obj.bussid_id }}</td>
                                            <td>{{ obj.quote }}</td>
                                            <td>{{ obj.validitytime|date:"Y-m-d H:i:s" }}</td>
                                            {% if  request.session.info.office == "1" or request.session.info.office == "0" %}
                                                <td>
                                                    {% if obj.inquiryid_id == obj.quoteid %}
                                                        <button class="btn btn-primary btn-xs btnQuote"
                                                                uid="{{ obj.inquiryid_id }}">报价
                                                        </button>
                                                    {% elif obj.isreceived == 0 %}
                                                        <button class="btn btn-primary btn-xs btnEdit"
                                                                uid="{{ obj.quoteid }}">修改报价
                                                        </button>
                                                    {% elif obj.isreceived != 1 %}
                                                        <button class="btn btn-danger btn-xs btnDelete"
                                                                uid="{{ obj.quoteid }}">删除
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var QUOTE_ID, DELETE_ID, EDIT_ID;
        $(document).ready(function () {
            $('li').removeClass('active-page');
            $('#supply3').addClass('active-page');
            $('#supply').addClass('active-page').addClass('open');
            $('#supply_ul').css('display', 'block');
            $('#supply_ul li').addClass('animation');

            $("#btnSave").click(function () {
                if (!EDIT_ID) {
                    $.ajax({
                        url: "/supply/quote/add/" + "?inid=" + QUOTE_ID,
                        type: "post",
                        data: $("#formAdd").serialize(),
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#myd").modal('hide');
                                $("#formAdd")[0].reset();
                                location.reload();
                                EDIT_ID = undefined;
                            } else {
                                $("#quote_error").text(res.error[0]);
                            }
                        }

                    })
                } else {
                    $.ajax({
                        url: "/supply/quote/edit/" + "?quid=" + EDIT_ID,
                        type: "post",
                        data: $("#formAdd").serialize(),
                        dataType: "JSON",
                        success: function (res) {
                            res = JSON.parse(res);
                            if (res.status) {
                                $("#myd").modal('hide');
                                $("#formAdd")[0].reset();
                                location.reload();
                            } else {
                                $("#quote_error").text(res.error[0]);
                            }
                        }

                    })
                }
            })

            {#动态增加点击事件#}
            $("#table").on('click', '.btnQuote', function () {
                $("#quote_error").text("")
                var curid = $(this).attr("uid");
                QUOTE_ID = curid;
                $("#myModalLabel").text("进行报价")
                $("#formAdd")[0].reset();
                $("#myd").modal('show');
            })

            $("#table").on('click', '.btnDelete', function () {
                DELETE_ID = $(this).attr("uid");
                $("#quote_error").text("")
                $("#deleteModel").modal('show');
            })

            $("#Delete").click(
                function () {
                    $.ajax({
                        url: "/purchase/quote/delete/",
                        type: "get",
                        data: {uid: DELETE_ID},
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                $("#deleteModel").modal('hide');
                                DELETE_ID = undefined;
                                location.reload();
                            } else {
                            }
                        }
                    })
                }
            )

            $("#table").on('click', '.btnEdit', function () {
                var curid = $(this).attr("uid");
                $("#quote_error").text("")
                EDIT_ID = curid;
                $("#formAdd")[0].reset();
                $.ajax({
                    url: "/supply/quote/detail/",
                    type: "get",
                    data: {uid: curid},
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            $("#quote").val(res.quote)
                            $("#myModalLabel").text("修改报价")
                            $("#myd").modal('show');
                        } else {

                        }
                    }
                })
            })
        })
    </script>
{% endblock %}